﻿@using Newtonsoft.Json
@model Geo.Frontend.Controllers.ProjectsViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12">
                <ul class="nav nav-pills">
                    @*@foreach (var p in Model.Projects)
                    {
                        <li>
                            <a href="#@p.Id" class="project-link" data-role="project-link" data-id="@p.Id">@p.Name</a>
                        </li>
                    }*@
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="row clearfix" style="margin-top: 60px;">
    <div class="col-md-3">
        <div class="row">
            <div class="col-xs-12">
                Дата
                <select id="bundle-dates"></select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                Параметры
                <div id="bundle-params"></div>
                
                <input type="button" class="btn btn-primary" value="Применить"/>
            </div>
        </div>

    </div>
    <div class="col-md-9">
        <!-- This code must be embedded on the page where you would like to show the map (start) -->
        <div id="ymaps-map-id_14166000129101296445" style="width: 80%; height: 600px;"></div>
        <div style="width: 450px; text-align: right;"><a href="http://api.yandex.com/maps/index.xml" target="_blank" style="color: #1A3DC1; font: 13px Arial, Helvetica, sans-serif;">Powered by Yandex.Maps</a></div>
        <script type="text/javascript">function fid_14166000129101296445(ymaps) { var map = new ymaps.Map("ymaps-map-id_14166000129101296445", { center: [55.98316099999998, 54.7384369999951], zoom: 12, type: "yandex#map" }); map.controls.add("zoomControl").add("mapTools").add(new ymaps.control.TypeSelector(["yandex#map", "yandex#satellite", "yandex#hybrid"])); };</script>
        <script type="text/javascript" src="http://api-maps.yandex.ru/2.0-stable/?lang=en-US&coordorder=longlat&load=package.full&wizard=constructor&onload=fid_14166000129101296445"></script>
        <!-- This code must be embedded on the page where you would like to show the map (finish) -->
    </div>
</div>

<script type="text/x-handlebars-template" id="project-template">
    <li><a href="#{{Id}}" class="project-link" data-role="project-link" data-id="{{Id}}">{{Name}}</a></li>
</script>

<script type="text/x-handlebars-template" id="int-template">
    <h3>{{Name}}</h3>
    от <input type="text" class="form-control col-xs-1" /> до <input type="text" class="form-control col-xs-1" />
</script>

<script type="text/x-handlebars-template" id="select-template">
    <br/><h3>{{Name}}</h3>
    <select class="form-control">
        <option>неважно</option>
    </select>
</script>

<script>
    (function () {
        $(document).ready(function() {
            var projectsData;
            var objectsData;
            $.ajax("http://localhost:3526/api/data/getprojects").success(function (d) {

                var projectstmpl = Handlebars.compile($("#project-template").html());
                $(d).each(function (index, element) {                    
                    $('ul.nav.nav-pills').append(projectstmpl(element));
                });

                projectsData = d;

                var numTemplate = Handlebars.compile($("#int-template").html());
                var selectTemplate = Handlebars.compile($("#select-template").html());

                var project = {};
                var bundle = {};

                $(".project-link").on('click', function () {
                    moment.locale('ru');

                    $('.project-link').parent().removeClass('active');

                    $(this).parent().addClass('active');
                    // переделать выпадашку с датами загрузки
                    var projectId = $(this).data('id');

                    if (projectsData) {
                        project = $.grep(projectsData, function (n, i) {
                            return n.Id == projectId;
                        })[0];
                        var options = '';
                        $.each(project.Bundles, function (i, item) {
                            options += '<option value=' + item.Id + '>' + moment(item.Datetime).format("DD MMMM YYYY") + '</option>';
                        });

                        $('#bundle-dates').html('');
                        $('#bundle-dates').append(options);

                        // переделать набор параметров  
                        var bundleId = $('#bundle-dates option:selected').val();
                        bundle = $.grep(project.Bundles, function (item, i) {
                            return item.Id == bundleId;
                        })[0];

                        var params = "";
                        $.each(bundle.Parameters, function (i, item) {
                            // number parameter
                            if (item.Type == 1) {
                                params += numTemplate(item);
                            }
                            else if (item.Type == 2) {
                                params += selectTemplate(item);
                            } else {
                                console.warn("Неизвестный тип параметра " + item.Type);
                            }
                        });

                        $("#bundle-params").html(params);
                    }

                    // установить последнюю дату активной
                });
            });

            $.ajax("http://localhost:3526/api/data/getobjects").success(function (d) {
                objectsData = d;                               

                @*var data = @Html.Raw(JsonConvert.SerializeObject(Model.Projects));*@
                
            });

            
        });
        
    })();
</script>